body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}
button {
    background-color: #6200ea;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #3700b3;
}
